root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.{js, html, md}]
charset = utf-8

[*.{js, html, md, css, yml, json}]
indent_style = space
indent_size = tab
tab_width = 2
